
.mapboxgl-ctrl-geocoder--input{

width: 300px;
    height: 30px; } 
    .sidebarStyle {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 10%;
        margin: 12px;
        background-color: #404040;
        color: #ffffff;
        z-index: 1 !important;
        padding: 6px;
        font-weight: bold;
      }

      .mapboxgl-popup-content{
        background-color: #404040;
        color: #ffffff;
        font-weight: bold;
      }

    